<div class="superposicion-modal d-none" id="<%= id %>">
    <div class="tarjeta-modal">
        <p class="texto-modal"><%= pregunta %></p>
        <div class="d-flex justify-content-center gap-3">
            <button class="btn btn-dark boton-modal-confirmar" id="<%= idBotonConfirmar %>" type="button">Confirmar</button>
            <button class="btn btn-outline-light boton-modal-cancelar" id="<%= idBotonCancelar %>" type="button">Cancelar</button>
        </div>
    </div>
</div>