<nav class="barra-superior">
    <div class="contenido-barra-superior">
        <div class="seccion-izquierda d-flex align-items-center gap-3">
            <a class="btn btn-outline-light acceso-administradores" id="btnAccesoUsuarios" href="http://localhost:5500/frontend/bienvenida/bienvenida.html">Acceso Usuarios</a>
            <button class="btn-tema" id="btnTema" aria-label="Cambiar tema" type="button"><i class="fa-solid fa-moon"></i></button>
        </div>
        <span class="nombre-aplicacion">CineStream</span>
        <div class="seccion-derecha"><p class="autores">Hecho por: Santiago Leonardi y Santiago Trillo</p></div>
    </div>
</nav>