<nav>
    <div>
        <div class="d-flex align-items-center gap-3">
            <a class="btn btn-outline-light acceso-administradores" id="btnAccesoUsuarios" href="http://localhost:3001/bienvenida/bienvenida.html">Acceso Usuarios</a>
            <button class="btn-tema" id="btnTema" aria-label="Cambiar tema" type="button"><i class="fa-solid fa-moon"></i></button>
        </div>
        <span>CineStream</span>
        <div><p>Hecho por: Santiago Leonardi y Santiago Trillo</p></div>
    </div>
</nav>