<nav>
    <div>
        <div class="d-flex align-items-center gap-3">
            <a class="btn-home" href="/admin/login" id="btnHome" aria-label="Ir al inicio"><i class="fa-solid fa-house"></i></a>
            <button class="btn-tema" id="btnTema" aria-label="Cambiar tema" type="button"><i class="fa-solid fa-moon"></i></button>
        </div>
        <span>CineStream</span>
        <div><p>Hecho por: Santiago Leonardi y Santiago Trillo</p></div>
    </div>
</nav>