:root {
    --fondo-oscuro: #111;
    --color-linea: #c9c9c9;
    --texto-principal: #d6d6d6;
    --texto-secundario: #a8a8a8;
    --boton-oscuro: #202326;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100%;
}

body {
    font-family: "Inter", Arial, sans-serif;
    background: var(--fondo-oscuro);
    color: var(--texto-principal);
}

a {
    text-decoration: none;
}
